QLineEdit, QProgressBar, QPushButton, QGroupBox {
	border-radius: 4px;
	padding:2px;
}
QProgressBar {
	border-color:#000;
	text-align:center;
}
QPushButton {
	background-color: rgb(77, 77, 77);
	color:#fff;
	border: 1px #fff solid;
	border-style:outset;
}
QMainWindow {
	background-color:#222;
	color: #fff;
}
QLineEdit {
	color: #fff;
	background-color: #666;
	border: 1px #BDBDBD solid;
	border-style:outset;
}
QGroupBox {
	border: 1px solid #bdbdbd;
	margin-top:5px;
}
QGroupBox:title{
	top:-7px;
	left:15px;
	color:#fff;
}
QTabBar::tab {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
								stop: 0 #333333, stop: 1.0 #404040, stop: 1.0 #333333);
	border: 2px #484848 solid;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	min-width: 8ex;
	border-style:outset;
	color:#fff;
	padding-left: 4px;
	padding-right: 4px;
	margin-right: 2px;
}
QTabBar::tab:selected{
	border-bottom-color: #333333;
}
QTabBar::tab:!selected{
	margin-top: 2px;
}
QTabWidget::pane  {
	border: 1px solid #484848;
}
QTabWidget QStackedWidget {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
								stop: 0 #333333, stop: 1.0 #222222);
}
QTabWidget::tab-bar {
	left: 5px;
}
QLabel, QCheckBox {
	color: #fff;
}
QScrollArea QWidget#scrollAreaWidgetContents_2 {
	background-color:  #C7C7C7;
	color:  #ffffff;
}
QScrollArea QLabel{
	color:#000;
}